<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDisplayName</key><string>ORCA Studio</string>
  <key>CFBundleExecutable</key><string>ORCAStudio</string>
  <key>CFBundleIdentifier</key><string>com.fryrocket.orca-studio</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>ORCA Studio</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSPrincipalClass</key><string>NSApplication</string>
  <key>StudioName</key><string>ORCA Studio</string>
  <key>StudioNodeID</key><string>ANVIL</string>
  <key>StudioURL</key><string>http://127.0.0.1:8788/</string>
</dict></plist>
